/* spacing */

table {
    border-collapse: collapse;
    border: 1px solid rgb(52, 33, 222);
    text-align: center;
    vertical-align: middle;
  }
caption{
    font-size: 36px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(52, 33, 222);
    text-align: center;
    color: white;
  }
  
  
  thead th:nth-child(1) {
    width: 5%;
  }
  
  thead th:nth-child(2) {
    width: 10%;
  }
  
  thead th:nth-child(3) {
    width: 10%;
  }
  
  thead th:nth-child(4) {
    width: 10%;
  }
  
  th, tr {
    border: 1px solid black;
    padding: 10px;
  }